/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* CSS Properties */
:root{
    --blue: #0d69ff;
    --lightblue: #b4d0e7;
    --black: #000000;
    --white: #ffffff;
    --grey: #5f6363;
}

/* Classi per flex */
.flex{
    display: flex;
}

.col-gap-1{
    column-gap: 1rem;
}

.col-gap-2{
    column-gap: 2rem;
}

.align-center{
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.width-30{
    flex-basis: calc(100% / 3 - 1rem);
}

.width-70{
    flex-basis: 70%;
}

.width-40{
    flex-basis: 40%;
}

.width-60{
    flex-basis: 60%;
}

/* Classi container */
.big-container{
    max-width: 1000px;
    margin: 0 auto;
}

.small-container{
    max-width: 920px;
    margin: 0 auto;
}

.padding-thin{
    padding: 3rem 0;
}

.padding-thick{
    padding: 5rem 0;
}

/* Regole per liste */
ul{
    list-style: none;
}

/* Regole per i bottoni */
button{
    padding: .5rem .7rem;
    border: none;
    background-color: var(--blue);
    color: var(--white);
    font-size: .7rem;
}

/* Regole per formattazione testo */
h1{
    font-size: 3rem;
    font-weight: 800;
}

h2{
    font-size: 2rem;
    padding-bottom: 2rem;
}

h3, h4{
    padding-bottom: 1rem;
}

p{
    line-height: 1.5rem;
}

.text-center{
    text-align: center;
}

.bold-text{
    font-weight: bold;
}

.grey-text{
    color: var(--grey);
}

/* Regole per le immagini */
img{
    width: 100%;
}

/* Regole specifiche per il menu */
menu{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
}

.menu-container{
    padding: 1rem;
    justify-content: space-between;
}

menu a{
    color: var(--black);
    padding: .5rem;
    text-decoration: none;
}

/* Regole specifiche per sezione jumbo in header */
header .jumbo{
    background-color: var(--lightblue);
    padding-top: 6rem;
}

.jumbo p{
    padding-bottom: 1.5rem;
}

.jumbo p:nth-of-type(2){
    padding-top: 1.5rem;
}

.jumbo i{
    font-size: 2rem;
}

.jumbo-description .description-text{
    align-self: center;
}

.jumbo-description .description-image{
    position: relative;
    top: 54px;
}

/* Regole specifiche per le sezioni centrali */
#h2-under-jumbo{
    padding: 4rem 0;
}

.radio-buttons{
    padding-bottom: 2rem;
}

/* Colonne */
.col{
    border: 1px solid var(--grey)
}

.col-header{
    border-bottom: 1px solid var(--grey);
    padding: .5rem;
}

.col-body{
    padding: 2rem 1.5rem;
}

.col-title{
    padding-bottom: 3rem;
}

.col-icon-container li{
    padding-left: 1rem;
    margin: 1rem 0;
    position: relative;
}

.col-icon-container li i{
    position: absolute;
    left: 0;
    top: 4px;
}

.col-icon-container li p{
    padding-left: .5rem;
}

.col-body button{
    width: 100%;
}

.col-body button,
.col-body .line-break{
    margin: 2rem 0;
}

.line-break{
    height: 1px;
    width: 20%;
    background-color: var(--grey);
}

.col-icon-container .icon-check i{
    color: var(--blue);
}