/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* CSS Properties */
:root{
    --blue: #0d69ff;
    --beaublue: #b4d0e7;
    --lightblue: #0093ce;
    --darkblue: #0d2481;
    --black: #000000;
    --white: #ffffff;
    --grey: #5f6363;
    --beige: #f5f5f5;
    --bordeaux: #61082b;
    --lightred: #ff1c1c;
    --darkred: #d5001f;
    --green: #a2d39b;
    --yellow: #ffd830;
    --standard-size: 2rem;
    --smaller-size: 1rem;
}

/* Classi per flex */
.flex{
    display: flex;
}

.col-gap-1{
    column-gap: var(--smaller-size);
}

.col-gap-2{
    column-gap: var(--standard-size);
}

.align-center{
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}

.width-30{
    flex-basis: calc(100% / 3);
}

.width-70{
    flex-basis: 70%;
}

.width-40{
    flex-basis: 40%;
}

.width-60{
    flex-basis: 60%;
}

.width-25{
    flex-basis: 25%;
}

/* Classi container */
.big-container{
    max-width: 1000px;
    margin: 0 auto;
}

.small-container{
    max-width: 920px;
    margin: 0 auto;
}

.column-container{
    padding-bottom: var(--standard-size);
}

.padding-thin{
    padding: 3rem 0;
}

.padding-thick{
    padding: 5rem 0;
}

.bg-blue{
    background-color: var(--beaublue);
}

/* Regole per liste */
ul{
    list-style: none;
}

menu a,
footer a{
    padding: calc(var(--smaller-size) / 2);
    text-decoration: none;
}

/* Regole per i bottoni */
button{
    padding: .8rem .7rem;
    border: none;
    background-color: var(--blue);
    color: var(--white);
}

.btn-small{
    padding: .5rem .7rem;
}

.btn-large{
    width: 100%;
    margin-bottom: var(--standard-size);
}

.btn-white{
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--grey);
}

/* Regole per formattazione testo */
h1{
    font-size: 3rem;
    font-weight: 800;
}

h2{
    font-size: var(--standard-size);
    padding-bottom: var(--standard-size);
}

h3{
    font-size: 1.5rem;
}

h3, h4{
    padding-bottom: var(--smaller-size);
}

p{
    line-height: 1.5rem;
}

.text-center{
    text-align: center;
}

.bold-text{
    font-weight: bold;
}

.grey-text{
    color: var(--grey);
}

.red-text{
    color: var(--bordeaux);
}

/* Regole per le immagini */
img{
    width: 100%;
}

/* Regole specifiche per l'header */
header a{
    color: var(--black);
}

menu{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
}

.menu-container{
    padding: var(--smaller-size);
    justify-content: space-between;
}

.menu-container ul > li{
    position: relative;
}

.menu-container a:hover,
.hidden-list{
    background-color: var(--beige);
}

.hidden-list{
    display: none;
    width: 100%;
}

.hidden-list li{
    padding: var(--smaller-size) 0;
}

.menu-container a:hover + .hidden-list{
    display: block;
    position: absolute;
    top: 25px;
}

/* Regole specifiche per sezione jumbo in header */
header .jumbo{
    padding-top: calc(var(--standard-size) * 3);
}

.jumbo .jumbo-description{
    position: relative;
    top: 50px;
}

.jumbo-description .description-text i{
    transform: translateY(-10px);
    transition: all .5s;
}

.jumbo-description .description-text i:hover{
    transform: translateY(0);
    color: var(--blue);
    transform: scale(1.5);
}

.jumbo p{
    padding-bottom: 1.5rem;
}

.jumbo button{
    margin-bottom: var(--standard-size);
}

.jumbo i{
    font-size: var(--standard-size);
}

/* Regole specifiche per le sezioni centrali */
#h2-under-jumbo{
    padding: calc(var(--standard-size) * 2) 0;
}

.radio-buttons{
    padding-bottom: var(--standard-size);
}

.radio-buttons input{
    display: none;
}

.radio-buttons .radio-circle{
    display: inline-block;
    width: var(--smaller-size);
    height: var(--smaller-size);
    border: 1px solid var(--grey);
    border-radius: 50%;
    vertical-align: text-top;
}

.radio-buttons input:checked + .radio-circle{
    border: 5px solid var(--blue);
}

/* Colonne */
.col{
    border: 1px solid var(--grey)
}

.col-header{
    border-bottom: 1px solid var(--grey);
    padding: calc(var(--smaller-size) / 2);
}

.col-body{
    padding: var(--standard-size) 1.5rem;
}

.col-title{
    padding-bottom: 3rem;
}

.col-icon-container li{
    padding-left: var(--smaller-size);
    margin: var(--smaller-size) 0;
    position: relative;
}

.col-icon-container li i{
    position: absolute;
    left: 0;
    top: 4px;
}

.col-icon-container li p{
    padding-left: calc(var(--smaller-size) / 2);
}

.line-break{
    height: 1px;
    width: 20%;
    background-color: var(--grey);
    margin: var(--standard-size) 0;
}

.col-icon-container .icon-check i{
    color: var(--blue);
}

/* Card */
.card-container{
    row-gap: var(--standard-size);
}

.card-image{
    width: 90%;
}

.box-container >*{
    height: calc(100vw / 3);
}

.box-container .box:nth-of-type(2){
    background-color: var(--beige);
    padding: var(--standard-size);
    overflow: auto;
}

.box-container .box:nth-of-type(2) p{
    font-size: .8rem;
    padding-bottom: var(--standard-size);
    line-height: initial;
}

.small-box{
    width: 50%;
    aspect-ratio: 1/1;
    position: relative;
}

.small-box:hover{
    border: var(--smaller-size) solid #fff6;
}

.logo-box{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-box img{
    filter: invert(1);
}

/* Toggle */
.faq{
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    padding: var(--standard-size) 0;
    position: relative;
}

.faq i{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.faq-dropdown{
    display: none;
    padding-top: var(--smaller-size);
}

.faq:hover .faq-dropdown{
    display: block;
}

.faq:hover i:first-child{
    opacity: 0;
}


/* Footer */
footer{
    background-color: var(--black);
    color: var(--white);
}

footer ul{
    margin-left: -.5rem;
}

footer li{
    margin-bottom: var(--smaller-size);
}

footer a{
    text-decoration: none;
    color: var(--white);
}
